.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    display: inline-block;
    border: 6px solid;
    border-color: black transparent;
    border-radius: 50%;
    -webkit-animation: rotate 1s linear infinite;
    -o-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
}

/*.loader::after {*/
/*    content: "";*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    position: absolute;*/
/*    border-bottom: 8px solid black;*/
/*    border-left: 8px solid black;*/
/*    left: 0;*/
/*    top: 0;*/
/*    border-radius: 50%;*/
/*}*/

@keyframes rotate {
    to {
        transform: rotate(-360deg);
    }

    from {
        transform: rotate(0deg);
    }

}
